@{
    ViewBag.Title = "Team";
}

<h2>WWXFD-Team</h2>
<div id="name"style="background-color:#5f4949;height:1000px; width:1080px;float:left;" >
    <table border=5 bordercolor=black cellspacing=0 align=center>
<tr height=120 bgcolor=	#AFEEEE align=center>
<td width=960 colspan=10 align=center><font face=华文行楷 size=7><b>WWXFD
    <p align=lift  colspan=2><font size=10 face=华文行楷>有活力的Team</font></p>
                                                             </b></font></td></tr>
         

  
        <td face=华文行楷 align=lift><font size=10><b>组长</b></font></td>  
  <tr height=60 bgcolor=#AFEEEE align=center>
<td width=120  align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>no.1  汪的很</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan= align=center><font face=华文行楷 size=6>男</font></td>  

<tr height=60 bgcolor=#AFEEEE align=center>
<td width=120  align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>no.2  夏加静</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan= align=center><font face=华文行楷 size=6>女</font></td>

<tr height=60 bgcolor=#AFEEEE align=center>
<td width=120  align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>no.3  李林东</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan= align=center><font face=华文行楷 size=6>男</font></td>

    <tr height=60 bgcolor=#AFEEEE align=center>
<td width=120  align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>no.4  褚家储</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan= align=center><font face=华文行楷 size=6>女</font></td>

        <tr height=60 bgcolor=#AFEEEE align=center>
<td width=120  align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>no.5  黄仁玉</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan= align=center><font face=华文行楷 size=6>女</font></td>

            <tr height=60 bgcolor=#AFEEEE align=center>
<td width=120  align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>no.7 金晓笛</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan= align=center><font face=华文行楷 size=6>女</font></td>

                <tr height=60 bgcolor=#AFEEEE align=center>
<td width=120  align=center><font face=微软雅黑 size=6><b>姓名</b></font></td>
<td width=120 colspan=2 align=center><font face=华文行楷 size=6>no.8  沙城加</font></td>
<td width=120 colspan=2 align=center><font face=微软雅黑 size=6><b>性别</b></font></td>
<td width=120 colspan= align=center><font face=华文行楷 size=6>男</font></td>             
</div>
